{% extends "site.html" %}
{% load staticfiles %}
{% load cache %}
{% block extra_css %}
<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
{% endblock%}

{% block content %}
<div class="container">
    <h3>Лойиҳа ҳақида</h3>
    <p>Ушбу лойиҳани ишлаб чиқишдан мақсад, гуруҳ фаолиятини хронологик тарзда кўрсатиб бериш, гуруҳ иштирокчилари томонидан ёзилаётган постлар ва изоҳлар, уларга бўлаётган бошқа иштирокчиларнинг муносабатларини (лайк қўйиш, улашиш ва ҳ.к) статистикасини реал вақтда Фейсбукдаги маълумотлар асосида олиб бориш, гуруҳ фаолиятига умумий назар солиб таҳлил қилишга кўмаклашиш.</p>
    <p>Лойиҳа қуйидаги технологиялар ёрдамида ишламоқда.</p>
    <table class="table">
      <tbody>
        <tr>
          <td><img src="https://maxcdn.icons8.com/Color/PNG/24/Operating_Systems/linux-24.png" title="Linux" width="24"> <img src="https://maxcdn.icons8.com/Color/PNG/24/Operating_Systems/debian-24.png" title="Debian" width="24"></td>
          <td>{{ os_info }}</td>
        </tr>
        <tr>
          <td><img src="https://maxcdn.icons8.com/Color/PNG/24/Logos/github_2-24.png" title="Github" width="24"></td>
          <td><a href="https://github.com/muminoff/maslahat" target="_blank">https://github.com/muminoff/maslahat</a></td>
        </tr>
        <tr>
          <td><img src="https://maxcdn.icons8.com/Color/PNG/24/Programming/python-24.png" title="Python" width="24"></td>
          <td>Python {{ python_version }}</td>
        </tr>
        <tr>
          <td>Django</td>
          <td>{{ django_version }}</td>
        </tr>
        <tr>
          <td>Postgresql</td>
          <td>{{ postgres_version }}</td>
        </tr>
        <tr>
          <td>Redis</td>
          <td>{{ redis_version }}</td>
        </tr>
      </tbody>
    </table>
    <br/>
    <br/>
    <p>Лойиҳа коди <a href="https://github.com/muminoff/maslahat" target="_blank">очиқ</a>. Муаллиф <a href="https://muminoff.com" target="_blank">muminoff</a>.</p>
    <p>Маълумотлар Фейсбукдан оҳирги марта Ўзбекистон вақти бўйича <strong>{{ last_updated|date:"d-m-Y" }}</strong> куни соат <strong>{{ last_updated|date:"H:i" }}</strong> да олинди.</p>
</div>
{% endblock %}
