{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% block extra_css %}
<link href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css' rel='stylesheet'>
{% endblock%}

{% block content %}
<div class="container">
    <h3>Лойиҳа ҳақида</h3>
    <p>Лойиҳа қуйидаги технологиялар ёрдамида ишламоқда.</p>
    <span class="devicons devicons-linux"></span>
    <span class="devicons devicons-ubuntu"></span>
    <span class="devicons devicons-git"></span>
    <span class="devicons devicons-github"></span>
    <span class="devicons devicons-heroku"></span>
    <span class="devicons devicons-html5"></span>
    <span class="devicons devicons-css3"></span>
    <span class="devicons devicons-jquery"></span>
    <span class="devicons devicons-python"></span>
    <span class="devicons devicons-javascript"></span>
    <span class="devicons devicons-django"></span>
    <span class="devicons devicons-postgresql"></span>
    <span class="devicons devicons-redis"></span>
    <br/>
    <br/>
    <p>Лойиҳа коди <a href="https://github.com/muminoff/maslahat" target="_blank">очиқ</a>. Муаллиф <a href="https://keybase.io/muminoff" target="_blank">muminoff</a>.</p>
    <p>Маълумотлар Фейсбукдан оҳирги марта Ўзбекистон вақти бўйича <strong>{{ last_updated|date:"d-m-Y" }}</strong> куни соат <strong>{{ last_updated|date:"H:i" }}</strong> да олинди.</p>
    <p>Ўзбекча IT лойиҳалар учун идеялар борми? <small>Муаллиф билан <a href="https://telegram.me/crispybone" target="_blank">боғланинг</a>.</small></p>
</div>
{% endblock %}
