{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}

{% block content %}

<div class="container">
    <h3>Лойиҳа ҳақида</h3>
    <p>Лойиҳа қуйидаги технологиялар ёрдамида Heroku платформасида ишламоқда.</p>
    <p><strong>Python: </strong>{{ python_version }}</p>
    <p><strong>Django: </strong>{{ django_version }}</p>
    <p><strong>Postgresql: </strong>{{ postgre_version }}</p>
    <p><strong>Redis: </strong>{{ redis_version }}</p>
    <p>Лойиҳа коди <a href="https://github.com/muminoff/maslahat" target="_blank">очиқ</a>. Муаллиф <a href="https://twitter.com/muminoff" target="_blank">muminoff</a>.</p>
  <br/>
  <p>Ушбу сайтга ташриф буюраётганлар сони</p>
  <div>
    <img src="http://www.stathat.com/graphs/b2/76/ad20e58d1bbe64fe99deb869c671.png"/>
  </div>
</div>

{% endblock %}
