{% extends "base.html" %}
{% load staticfiles %}
{% load localize_time %}
{% load cache %}

{% block content %}

<div class="container">
    <h2>Гуруҳнинг ўсиш даражаси <small>ойлар бўйича</small></h2>
    <h3>Муносабатлар нисбати бўйича</h3>
    <div id="reactions_facts" style="height: 250px;"></div>
    <h3>Изоҳлар нисбати бўйича</h3>
    <div id="comments_facts" style="height: 250px;"></div>
    <h3>Улашишлар нисбати бўйича</h3>
    <div id="shares_facts" style="height: 250px;"></div>
</div>
{% endblock %}
{% block javascript %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type="text/javascript">
var reactions_fact_data = [
{% for fact in reactions_facts %}
    {
        month: "{{ fact.month|uzbekify_monthyear }}",
        reactions: {{ fact.reactions }},
    },
{% endfor %}
];
var comments_fact_data = [
{% for fact in comments_facts %}
    {
        month: "{{ fact.month|uzbekify_monthyear }}",
        comments: {{ fact.comments }},
    },
{% endfor %}
];
var shares_facts_data = [
{% for fact in shares_facts %}
    {
        month: "{{ fact.month|uzbekify_monthyear }}",
        shares: {{ fact.shares }},
    },
{% endfor %}
];
Morris.Bar({
  element: 'reactions_facts',
  data: reactions_fact_data,
  xkey: 'month',
  ykeys: ['reactions'],
  labels: ['Муносабатлар'],
});
Morris.Bar({
  element: 'comments_facts',
  data: comments_fact_data,
  xkey: 'month',
  ykeys: ['comments'],
  labels: ['Изоҳлар'],
});
Morris.Bar({
  element: 'shares_facts',
  data: shares_facts_data,
  xkey: 'month',
  ykeys: ['shares'],
  labels: ['Улашишлар'],
});
</script>
{% endblock %}
