{% extends "site.html" %}
{% load socialaccount %}
{% block extra_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
{% endblock %}
{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;">
  <div>
    <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-block btn-social btn-lg btn-facebook">Фейсбук орқали сайтга кириш</a>
  </div>
</div>
{% endblock %}
