{% extends "base.html" %}
{% load tz %}
{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;">
  <div>
      <form action="{% url "search" %}">
        <div class="form-group">
          <label for="text">Пост матни</label>
          <input type="text" class="form-control" id="text" name="text">
        </div>
        <div class="form-group">
          <label for="author">Пост муаллифи</label>
          <input type="text" class="form-control" id="author" name="author" >
        </div>
        <button type="submit" class="btn btn-default">Қидириш</button>
      </form>
      <br/>
      {% if results %}
      <h3>"{{ text }}" сўрови бўйича қидирув натижалари <small>{{ results|length }} та натижа</small></h3>
      <hr/>
      <table class="table table-condensed table-hover">
          <thead>
              <tr>
                  <th>№</th>
                  <th>Пост</th>
                  <th>Вақт</th>
                  <th>Муаллиф</th>
                  <th>Изоҳлар</th>
                  <th>Муносабатлар</th>
                  <th>Улашишлар</th>
                  <th>👍</th>
                  <th>😍</th>
                  <th>😮</th>
                  <th>😆</th>
                  <th>😞</th>
                  <th>😡</th>
              </tr>
          </thead>
          <tbody>
              {% for post in results %}
              <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td><a href="http://fb.com/{{ post.id }}" target="_blank">{{ post.text|truncatechars:32 }}</a></td>
                  {% localtime on %}
                  <td>{{ post.published|date:"SHORT_DATETIME_FORMAT" }}</td>
                  {% endlocaltime %}
                  <td><img src="https://graph.facebook.com/{{ post.author_id }}/picture?type=square&width=24&height=24"/> {{ post.author }}</td>
                  <td>{{ post.comments }}</td>
                  <td>{{ post.reactions }}</td>
                  <td>{{ post.shares }}</td>
                  <td>{{ post.likes }}</td>
                  <td>{{ post.loves }}</td>
                  <td>{{ post.wows }}</td>
                  <td>{{ post.hahas }}</td>
                  <td>{{ post.sads }}</td>
                  <td>{{ post.angrys }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% else %}
      <p>Ҳеч қандай натижа топилмади.</p>
      {% endif %}
  </div>
</div>
{% endblock %}
