{% extends "base.html" %}
{% load tz %}
{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;">
  <div>
      {% if results %}
      <h3>"{{ text }}" сўрови бўйича қидирув <small>{{ results|length }} та натижа</small></h3>
      <hr/>
      <table class="table table-condensed table-hover">
          <thead>
              <tr>
                  <th>№</th>
                  <th>Пост</th>
                  <th>Вақт</th>
                  <th>Муаллиф</th>
                  <th>Изоҳлар</th>
                  <th>Муносабатлар</th>
                  <th>Улашишлар</th>
                  <th>👍</th>
                  <th>😍</th>
                  <th>😮</th>
                  <th>😆</th>
                  <th>😞</th>
                  <th>😡</th>
              </tr>
          </thead>
          <tbody>
              {% for post in results %}
              <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td><a href="//fb.com/{{ post.id }}" target="_blank">{{ post.text|truncatechars:32 }}</a></td>
                  {% localtime on %}
                  <td>{{ post.published|date:"d-m-Y H:i" }}</td>
                  {% endlocaltime %}
                  <td><img src="//graph.facebook.com/{{ post.author_id }}/picture?type=square&width=24&height=24"/> {{ post.author }}</td>
                  <td>{{ post.comments }}</td>
                  <td>{{ post.reactions }}</td>
                  <td>{{ post.shares }}</td>
                  <td>{{ post.likes }}</td>
                  <td>{{ post.loves }}</td>
                  <td>{{ post.wows }}</td>
                  <td>{{ post.hahas }}</td>
                  <td>{{ post.sads }}</td>
                  <td>{{ post.angrys }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      {% else %}
      <p>Ҳеч қандай натижа топилмади.</p>
      {% endif %}
  </div>
</div>
{% endblock %}
