{% extends "base.html" %}
{% load tz %}
{% block content %}
<div class="container" style="display:flex;justify-content:center;align-items:center;">
  <div>
      {% if results %}
      <h3>"{{ request.GET.q }}" сўрови бўйича қидирув <small>({{ took }} секунд)</small></h3>
      <small>Жами {{ results.paginator.count }} та натижалар ичидан {{ results.start_index }} дан {{ results.end_index }} гачаси</small>
      <hr/>
      <table class="table table-condensed table-hover">
          <thead>
              <tr>
                  <th>№</th>
                  <th>Пост</th>
                  <th>Вақт</th>
                  <th>Муаллиф</th>
                  <th>Изоҳлар</th>
                  <th>Муносабатлар</th>
                  <th>Улашишлар</th>
                  <th>👍</th>
                  <th>😍</th>
                  <th>😮</th>
                  <th>😆</th>
                  <th>😞</th>
                  <th>😡</th>
              </tr>
          </thead>
          <tbody>
              {% for post in results %}
              <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td><a href="//fb.com/{{ post.id }}" target="_blank">{{ post.text|truncatewords:16 }}</a></td>
                  {% localtime on %}
                  <td>{{ post.published|date:"d-m-Y H:i" }}</td>
                  {% endlocaltime %}
                  <td><img src="//graph.facebook.com/{{ post.author_id }}/picture?type=square&width=24&height=24"/>&nbsp;{{ post.author }}</td>
                  <td>{{ post.comments }}</td>
                  <td>{{ post.reactions }}</td>
                  <td>{{ post.shares }}</td>
                  <td>{{ post.likes }}</td>
                  <td>{{ post.loves }}</td>
                  <td>{{ post.wows }}</td>
                  <td>{{ post.hahas }}</td>
                  <td>{{ post.sads }}</td>
                  <td>{{ post.angrys }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        <nav aria-label="pages">
          <ul class="pager">
            {% if not results.has_previous %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Аввалги</a></li>
            {% else %}
            <li class="previous"><a href="{% url "search" %}?q={{ request.GET.q }}&page={{ results.previous_page_number }}"><span aria-hidden="true">&larr;</span> Аввалги</a></li>
            {% endif %}
            {% if not results.has_next %}
            <li class="next disabled"><a href="#">Кейинги <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
            <li class="next"><a href="{% url "search" %}?q={{ request.GET.q }}&page={{ results.next_page_number }}">Кейинги <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
          </ul>
        </nav>
      {% else %}
      <p>Ҳеч қандай натижа топилмади.</p>
      {% endif %}
  </div>
</div>
{% endblock %}
