{% extends "base.html" %}
{% load staticfiles %}
{% load localize_time %}
{% load cache %}

{% block content %}

<div class="container">
    <h3>{{ title }}</h3>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Ойлар</th>
                <th>Постлар</th>
                <th>Изоҳлар</th>
                <th>Муносабатлар</th>
                <th>Улашишлар</th>
                <th>👍</th>
                <th>😍</th>
                <th>😮</th>
                <th>😆</th>
                <th>😞</th>
                <th>😡</th>
            </tr>
        </thead>
        <tbody>
            {% cache 3600 posts_per_month %}
            {% for this_year in posts_per_month %}
            <tr>
                <td>{{ this_year.month|date:"m-Y"|uzbekify_monthyear }}</td>
                <td>{{ this_year.posts }}</td>
                <td>{{ this_year.comments }}</td>
                <td>{{ this_year.reactions }}</td>
                <td>{{ this_year.shares }}</td>
                <td>{{ this_year.likes }}</td>
                <td>{{ this_year.loves }}</td>
                <td>{{ this_year.wows }}</td>
                <td>{{ this_year.hahas }}</td>
                <td>{{ this_year.sads }}</td>
                <td>{{ this_year.angrys }}</td>
            </tr>
            {% endfor %}
            {% endcache %}
        </tbody>
    </table>
</div>
{% endblock %}
