{% extends "base.html" %}
{% load staticfiles %}
{% load_cache %}

{% block content %}

<div class="container">
    <h3>Йиллик статистика</h3>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Йил</th>
                <th>Постлар</th>
                <th>Изоҳлар</th>
                <th>Муносабатлар</th>
                <th>Улашишлар</th>
                <th>Лайклар</th>
            </tr>
        </thead>
        <tbody>
            {% cache 3600 last_posts %}
            {% for this_year in posts_per_year %}
            <tr>
                <td>{{ this_year.year|date:"Y" }}</td>
                <td>{{ this_year.posts }}</td>
                <td>{{ this_year.comments }}</td>
                <td>{{ this_year.reactions }}</td>
                <td>{{ this_year.shares }}</td>
                <td>{{ this_year.likes }}</td>
            </tr>
            {% endfor %}
            {% endcache %}
        </tbody>
    </table>
</div>
{% endblock %}
